<!DOCTYPE html>
<html>
<head>
  <title>SageWanted</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice] %>
      <div class="application-flash notice">
        <%= flash[:notice] %>
      </div>
  <% end %>
  <% if flash[:alert] %>
      <div class="application-flash error">
        <%= flash[:alert] %>
      </div>
  <% end %>
  <%= render 'shared/header' %>
  <%= yield %>
  <%= render 'shared/footer' %>
</body>
</html>
